<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>کلاسیما | خانه دو</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="media/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/dependencies/bootstrap/css/bootstrap.min.css">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="~/dependencies/fontawesome/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/dependencies/flaticon/flaticon.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/dependencies/owl.carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/dependencies/owl.carousel/css/owl.theme.default.min.css">
    <!-- Animated Headlines CSS -->
    <link rel="stylesheet" href="~/dependencies/jquery-animated-headlines/css/jquery.animatedheadline.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/dependencies/magnific-popup/css/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/dependencies/animate.css/css/animate.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="~/dependencies/meanmenu/css/meanmenu.min.css">
    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="~/assets/css/app.css">
    <!-- Google Web Fonts -->
</head>

<body class="sticky-header">
             
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->
    <!-- ScrollUp Start Here -->
    <a href="#wrapper" data-type="section-switch" class="scrollup">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- ScrollUp End Here -->
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper">


        <!--=====================================-->
        <!--=            Header Start           =-->
        <!--=====================================-->
        <header class="header">
            <div id="rt-sticky-placeholder"></div>
            <div id="header-menu" class="header-menu menu-layout2">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-2">
                            <div class="logo-area">
                                <a href="index-2.html" class="temp-logo">
                                    <img src="media/logo-dark.png" alt="logo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7 d-flex justify-content-end">
                            <nav id="dropdown" class="template-main-menu">
                                <ul>
                                    <li>
                                        <a href="#" class="has-dropdown">خانه</a>
   
                                    </li>
                                    <li>
                                        <a href="about.html" class="has-dropdown">همه تبلیغات</a>

                                    </li>
                                    <li>
                                        <a href="#" class="has-dropdown">صفحات</a>
                                        <ul class="mega-menu mega-menu-col-2">
                                            <li>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="about.html">درباره ما</a>
                                                    </li>
                                                    <li>
                                                        <a href="faq.html">سوالات متداول</a>
                                                    </li>
                                                    <li>
                                                        <a href="search-result.html">نتیجه جستجو</a>
                                                    </li>
                                                    <li>
                                                        <a href="404.html">ارور 404</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="all-ad.html">همه تبلیغات</a>
                                                    </li>
                                                    <li>
                                                        <a href="single-product1.html">تک تبلیغ 1</a>
                                                    </li>
                                                    <li>
                                                        <a href="single-product2.html">تک تبلیغ 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="account.html">حساب کاربری من</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="has-dropdown">فروشگاه ها</a>

                                    </li>
                                    <li>
                                        <a href="#" class="has-dropdown">بلاگ</a>

                                    </li>
                                    <li>
                                        <a href="contact.html">تماس</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-3 d-flex justify-content-end">
                            <div class="header-action-layout1">
                                <ul>
                                    <li class="header-login-icon">
                                        <a href="account.html" class="color-primary" data-toggle="tooltip" data-placement="top" title="ثبت نام/ورود">
                                            <i class="far fa-user"></i>
                                        </a>
                                    </li>
                                    <li class="header-btn">
                                        <a href="post-ad.html" class="item-btn"><i class="fas fa-plus"></i>آگهی خود را ارسال کنید</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--=====================================-->
        <!--=            Banner Start           =-->
        <!--=====================================-->
        <section class="main-banner-wrap-layout2 bg-dark-overlay-2 bg-common" data-bg-image="media/banner/banner2.jpg">
            <div class="container">
                <div class="main-banner-box-layout1 animated-headline">
                    <h1 class="ah-headline item-title">
                        <span class="ah-words-wrapper">
                            <b class="is-visible">خرید, فروش, و تبادل کالا</b>
                            <b>نمایش بهترین آگهی های ایران، خرید و فروش آنلاین</b>
                        </span>
                    </h1>
                    <div class="item-subtitle">جستجوی بیش از 2000+ تبلیغات فعال در 29+ دسته به صورت رایگان</div>
                    <div class="search-box-layout1">
                        <form action="#">
                            <div class="row no-gutters">
                                <div class="col-lg-3 form-group">
                                    <div class="input-search-btn search-location" data-toggle="modal" data-target="#modal-location">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <label>انتخاب موقعیت</label>
                                    </div>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <div class="input-search-btn search-category" data-toggle="modal" data-target="#modal-category">
                                        <i class="fas fa-tags"></i>
                                        <label>انتخاب دسته بندی</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 form-group">
                                    <div class="input-search-btn search-keyword">
                                        <i class="fas fa-text-width"></i>
                                        <input type="text" class="form-control" placeholder="کلمه کلیدی را وارد کنید ..." name="keyword">
                                    </div>
                                </div>
                                <div class="col-lg-2 form-group">
                                    <button type="submit" class="submit-btn"><i class="fas fa-search"></i>جستجو</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=            Category Start           =-->
        <!--=====================================-->
      @RenderBody()

        <!--=====================================-->
        <!--=       Footer Start           	 	=-->
        <!--=====================================-->
        <footer>
            <div class="footer-top-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-box-layout1">
                                <div class="footer-logo">
                                    <img src="media/footer-logo.png" alt="logo">
                                </div>
                                <p>کلاسیما  بزرگترین بازار لیست بندی طبقه بندی شده ارائه تبلیغات بی نظیر اچ تی ام ال برای ایجاد وب سایت های طبقه بندی شده شخصی شما ارائه می دهد.</p>
                                <ul class="footer-social">
                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-box-layout1">
                                <div class="footer-title">
                                    <h3>چگونه سریع بفروشید</h3>
                                </div>
                                <div class="footer-menu-box">
                                    <ul>
                                        <li><a href="#">نکات فروش</a></li>
                                        <li><a href="#">سریع بخرید و بفروشید</a></li>
                                        <li><a href="#">عضویت</a></li>
                                        <li><a href="#">تبلیغات بنر</a></li>
                                        <li><a href="#">تبلیغ خود را تبلیغ کنید</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-box-layout1">
                                <div class="footer-title">
                                    <h3>اطلاعات</h3>
                                </div>
                                <div class="footer-menu-box">
                                    <ul>
                                        <li><a href="#">اطلاعات و شرکت و تماس</a></li>
                                        <li><a href="#">وبلاگ و مقالات</a></li>
                                        <li><a href="#">نقشه سایت</a></li>
                                        <li><a href="#">شرایط استفاده از خدمات</a></li>
                                        <li><a href="#">سیاست حفظ حریم خصوصی</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-box-layout1">
                                <div class="footer-title">
                                    <h3>راهنما و پشتیبانی</h3>
                                </div>
                                <div class="footer-menu-box">
                                    <ul>
                                        <li><a href="#">چت زنده</a></li>
                                        <li><a href="#">سوالات متداول</a></li>
                                        <li><a href="#">چگونه ایمن بمانیم</a></li>
                                        <li><a href="#">شرایط و ضوابط</a></li>
                                        <li><a href="#">تماس با ما</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="copyright-text">
                                © کپی رایت کلاسیما 1398. طراحی و ساخته شده توسط <a target="_blank" href="https://www.rtl-theme.com/user-profile/tn_plugin/">جعفر عباسی</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="payment-option">
                                <a href="#">
                                    <img src="media/figure/payment.png" alt="payment">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--=====================================-->
        <!--=       Modal Start           	 	=-->
        <!--=====================================-->
        <div class="modal fade modal-location" id="modal-location" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close modal-close" data-dismiss="modal" aria-label="بستن">
                        <span class="fas fa-times" aria-hidden="true"></span>
                    </button>
                    <div class="location-list">
                        <h4 class="item-title">موقعیت</h4>
                        <ul>
                            <li><a href="#">کالیفرنیا</a></li>
                            <li><a href="#">ترکیه</a></li>
                            <li><a href="#">تهران</a></li>
                            <li><a href="#">مشهد</a></li>
                            <li><a href="#">ارومیه</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-location" id="modal-category" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close modal-close" data-dismiss="modal" aria-label="بستن">
                        <span class="fas fa-times" aria-hidden="true"></span>
                    </button>
                    <div class="location-list">
                        <h4 class="item-title">دسته بندی</h4>
                        <ul>
                            <li>
                                <a href="#"><span class="item-icon"><img src="~/media/category/category5.png" alt="icon"></span>تجارت و صنعت</a>
                            </li>
                            <li>
                                <a href="#"><span class="item-icon"><img src="~/media/category/category7.png" alt="icon"></span>ماشین و وسایل نقلیه</a>
                            </li>
                            <li>
                                <a href="#"><span class="item-icon"><img src="~/media/category/category14.png" alt="icon"></span>الکترونیک</a>
                            </li>
                            <li>
                                <a href="#"><span class="item-icon"><img src="~/media/category/category4.png" alt="icon"></span>سلامت و زیبایی</a>
                            </li>
                            <li>
                                <a href="#"><span class="item-icon"><img src="~/media/category/category18.png" alt="icon"></span>سرگرمی ، ورزش و کودکان</a>
                            </li>
                            <li>
                                <a href="#"><span class="item-icon"><img src="~/media/category/category8.png" alt="icon"></span>لوازم خانگی</a>
                            </li>
                            <li>
                                <a href="#"><span class="item-icon"><img src="~/media/category/category6.png" alt="icon"></span>شغل ها</a>
                            </li>
                            <li>
                                <a href="#"><span class="item-icon"><img src="~/media/category/category12.png" alt="icon"></span>دیگری ها</a>
                            </li>
                            <li>
                                <a href="#"><span class="item-icon"><img src="media/category/category11.png" alt="icon"></span>حیوانات خانگی و حیوانات</a>
                            </li>
                            <li>
                                <a href="#"><span class="item-icon"><img src="media/category/category3.png" alt="icon"></span>املاک</a>
                            </li>
                            <li>
                                <a href="#"><span class="item-icon"><img src="media/category/category1.png" alt="icon"></span>خدمات</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Jquery Js -->
   
@RenderBody()
 
    <script src="~/dependencies/jquery/js/jquery.min.js"></script>
    <!-- Popper Js -->
    <script src="~/dependencies/popper.js/js/popper.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="~/dependencies/bootstrap/js/bootstrap.min.js"></script>
    <!-- Waypoints Js -->
    <script src="~/dependencies/waypoints/js/jquery.waypoints.min.js"></script>
    <!-- Counterup Js -->
    <script src="~/dependencies/jquery.counterup/js/jquery.counterup.min.js"></script>
    <!-- Owl Carousel Js -->
    <script src="~/dependencies/owl.carousel/js/owl.carousel.min.js"></script>
    <!-- ImagesLoaded Js -->
    <script src="~/dependencies/imagesloaded/js/imagesloaded.pkgd.min.js"></script>
    <!-- Isotope Js -->
    <script src="~/dependencies/isotope-layout/js/isotope.pkgd.min.js"></script>
    <!-- Animated Headline Js -->
    <script src="~/dependencies/jquery-animated-headlines/js/jquery.animatedheadline.min.js"></script>
    <!-- Magnific Popup Js -->
    <script src="~/dependencies/magnific-popup/js/jquery.magnific-popup.min.js"></script>
    <!-- ElevateZoom Js -->
    <script src="~/dependencies/elevatezoom/js/jquery.elevateZoom-2.2.3.min.js"></script>
    <!-- Bootstrap Validate Js -->
    <script src="~/dependencies/bootstrap-validator/js/validator.min.js"></script>
    <!-- Meanmenu Js -->
    <script src="~/dependencies/meanmenu/js/jquery.meanmenu.min.js"></script>
    <!-- Google Map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtmXSwv4YmAKtcZyyad9W7D4AC08z0Rb4"></script>
    <!-- Site Scripts -->
    <script src="~/assets/js/app.js"></script>
</body>

</html>

@section Scripts{
}

@await RenderSectionAsync("Scripts", required: false)
@RenderSection("masterjs", required: false)

