@page
@model HS.EndPoints.RazorPages.UI.Areas.Account.Pages.LogoutModel
@{
    ViewData["Title"] = "خروج از سایت";
}
<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">برای خروج از سایت کلیک روی این عبارت کنید</button>
            </form>
        }
        else
        {
            <a href="/Account/Login/">برای ورود به سایت کلیک کنید</a>
        }
    }
</header>