        <!--=====================================-->
        <!--=            Banner Start           =-->
        <!--=====================================-->
        <section class="main-banner-wrap-layout2 bg-dark-overlay-2 bg-common" data-bg-image="media/banner/house-repair-services-in-galway.jpg">
            <div class="container">
                <div class="main-banner-box-layout1 animated-headline">
                    <h1 class="ah-headline item-title">
                        <span class="ah-words-wrapper">
                            <b class="is-visible">به چه خدماتی نیاز دارید ؟ا</b>
                            <b>به چه خدماتی نیاز دارید ؟</b>
                        </span>
                    </h1>
                    <div class="item-subtitle">جستجو بین بیش از 100 سرویس مختلف</div>
                    <div class="search-box-layout1">
                        <form action="#">
                            <div class="row no-gutters">
                                <div class="col-lg-4 form-group">
                                    <div class="input-search-btn search-category" data-toggle="modal" data-target="#modal-category">
                                        <i class="fas fa-tags"></i>
                                        <label>انتخاب دسته بندی</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 form-group">
                                    <div class="input-search-btn search-keyword">
                                        <i class="fas fa-text-width"></i>
                                        <input type="text" class="form-control" placeholder="کلمه کلیدی را وارد کنید ..." name="keyword">
                                    </div>
                                </div>
                                <div class="col-lg-4 form-group">
                                    <button type="submit" class="submit-btn"><i class="fas fa-search"></i>جستجو</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>