        <!--=====================================-->
        <!--=       Footer Start           	 	=-->
        <!--=====================================-->
        <footer>
            <div class="footer-top-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-box-layout1">
                                <div class="footer-logo">
                                    <img src="media/footer-logo.png" alt="logo">
                                </div>
                                <p>کلاسیما  بزرگترین بازار لیست بندی طبقه بندی شده ارائه تبلیغات بی نظیر اچ تی ام ال برای ایجاد وب سایت های طبقه بندی شده شخصی شما ارائه می دهد.</p>
                                <ul class="footer-social">
                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-box-layout1">
                                <div class="footer-title">
                                    <h3>چگونه سریع بفروشید</h3>
                                </div>
                                <div class="footer-menu-box">
                                    <ul>
                                        <li><a href="#">نکات فروش</a></li>
                                        <li><a href="#">سریع بخرید و بفروشید</a></li>
                                        <li><a href="#">عضویت</a></li>
                                        <li><a href="#">تبلیغات بنر</a></li>
                                        <li><a href="#">تبلیغ خود را تبلیغ کنید</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-box-layout1">
                                <div class="footer-title">
                                    <h3>اطلاعات</h3>
                                </div>
                                <div class="footer-menu-box">
                                    <ul>
                                        <li><a href="#">اطلاعات و شرکت و تماس</a></li>
                                        <li><a href="#">وبلاگ و مقالات</a></li>
                                        <li><a href="#">نقشه سایت</a></li>
                                        <li><a href="#">شرایط استفاده از خدمات</a></li>
                                        <li><a href="#">سیاست حفظ حریم خصوصی</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-box-layout1">
                                <div class="footer-title">
                                    <h3>راهنما و پشتیبانی</h3>
                                </div>
                                <div class="footer-menu-box">
                                    <ul>
                                        <li><a href="#">چت زنده</a></li>
                                        <li><a href="#">سوالات متداول</a></li>
                                        <li><a href="#">چگونه ایمن بمانیم</a></li>
                                        <li><a href="#">شرایط و ضوابط</a></li>
                                        <li><a href="#">تماس با ما</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="copyright-text">
                                © کپی رایت کلاسیما 1398. طراحی و ساخته شده توسط <a target="_blank" href="https://www.rtl-theme.com/user-profile/tn_plugin/">جعفر عباسی</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="payment-option">
                                <a href="#">
                                    <img src="media/figure/payment.png" alt="payment">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>