        <!--=====================================-->
        <!--=            Header Start           =-->
        <!--=====================================-->
@using HS.Domain.Core.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

        <header class="header">
            <div id="rt-sticky-placeholder"></div>
            <div id="header-menu" class="header-menu menu-layout2">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-2">
                            <div class="logo-area">
                                <a href="/" class="temp-logo">
                                    <img src="media/logo-dark.png" alt="logo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7 d-flex justify-content-end">
                            <nav id="dropdown" class="template-main-menu">
                                <ul>
                                    <li>
                                        <a href="/" class="has-dropdown">خانه</a>
   
                                    </li>
                                    <li>
                                        <a href="about.html" class="has-dropdown">دسته بندی ها</a>

                                    </li>
                                    <li>
                                        <a href="/" class="has-dropdown">صفحات</a>
                                    </li>
                                    <li>
                                        <a href="/" class="has-dropdown">فروشگاه ها</a>

                                    </li>
                                    <li>
                                        <a href="/" class="has-dropdown">بلاگ</a>

                                    </li>
                                    <li>
                                        <a href="/">تماس</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-3 d-flex justify-content-end">
                            <div class="header-action-layout1">
                                <ul>
                                     @if (!User.Identity.IsAuthenticated)
                                     {
                                    <li class="header-login-icon">
                                        <a  asp-page="/Profile" class="color-primary" data-toggle="tooltip" data-placement="top" title="ثبت نام/ورود">
                                            <i class="far fa-user"></i>
                                        </a>
                                        </li>
                                     <li class="header-btn">
                                        <a href="/Profile" class="item-btn"><i class="fas fa-service"></i>ورود به سایت</a>
                                    </li>

                            }
                            else
                            {
                                    <li class="header-login-icon">
                                        <a  asp-page="/Profile" class="color-primary" data-toggle="tooltip" data-placement="top" title="@User.Identity.Name">
                                            <i style="color:green" class="far fa-user"></i>
                                        </a>
                                        </li>
                                      <li class="header-btn">
                                        <a href="/Profile" class="item-btn"><i class="fas fa-service"></i>@User.Identity.Name.Substring(0,@User.Identity.Name.IndexOf('@')) خوش آمدید</a>
                                    </li>
                            }


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>