<div id="sidebar">
    <div class="side-menu-container">
        <ul class="metismenu" id="side-menu">
            <li>
                <a class="current" asp-page="/Index">
                    <i class="icon-home"></i>
                    <span>پنل کاربری</span>
                </a>
            </li>
            <li>
                <a asp-page="/UserManagement">
                    <i class="icon-home"></i>
                    <span>کاربران</span>
                </a>
            </li>
            <li>
                <a asp-page="/Device/Index">
                    <i class="icon-home"></i>
                    <span>آیتم منو</span>
                </a>
            </li>
            <li>
                <a asp-page="/Device/Index">
                    <i class="icon-home"></i>
                    <span>آیتم منو</span>
                </a>
            </li>
            <li>
                <a asp-page="/Device/Index">
                    <i class="icon-home"></i>
                    <span>آیتم منو</span>
                </a>
            </li>
            <li>
                <a asp-page="/Device/Index">
                    <i class="icon-home"></i>
                    <span>آیتم منو</span>
                </a>
            </li>
            <li>
                <a asp-page="/Device/Index">
                    <i class="icon-home"></i>
                    <span>آیتم منو</span>
                </a>
            </li>
            <li>
                <a asp-page="/Device/Index">
                    <i class="icon-home"></i>
                    <span>آیتم منو</span>
                </a>
            </li>
            <li>
                <a asp-page="/Device/Index">
                    <i class="icon-home"></i>
                    <span>آیتم منو</span>
                </a>
            </li>
            <li>
                <a asp-page="/Device/Index">
                    <i class="icon-home"></i>
                    <span>آیتم منو</span>
                </a>
            </li>
        </ul><!-- /#side-menu -->
    </div><!-- /.side-menu-container -->
</div><!-- /#sidebar -->