<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>سوون سرویس | خانه </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="media/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/dependencies/bootstrap/css/bootstrap.min.css")>
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="/dependencies/fontawesome/css/all.min.css")>
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/dependencies/flaticon/flaticon.css")>
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/dependencies/owl.carousel/css/owl.carousel.min.css")>
    <link rel="stylesheet" href="/dependencies/owl.carousel/css/owl.theme.default.min.css")>
    <!-- Animated Headlines CSS -->
    <link rel="stylesheet" href="/dependencies/jquery-animated-headlines/css/jquery.animatedheadline.css")>
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/dependencies/magnific-popup/css/magnific-popup.css")>
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/dependencies/animate.css/css/animate.min.css")>
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="/dependencies/meanmenu/css/meanmenu.min.css")>
    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="/assets/css/app.css")
    <!-- Google Web Fonts -->
    <link href="/assets/plugins/kamadatepicker/kamadatepicker.min.css" rel="stylesheet">
    <link href="/assets/plugins/clockpicker/dist/bootstrap-clockpicker.min.css" rel="stylesheet">
      <link href="/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet">

</head>

<body class="sticky-header">
             
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->
    <!-- ScrollUp Start Here -->
    <a href="#wrapper" data-type="section-switch" class="scrollup">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- ScrollUp End Here -->
    <!-- Preloader Start Here -->
   @* <div id="preloader"></div>*@
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper">
              <partial name="./PartialView/_Header" />
              <partial name="./PartialView/_Banner" />
                          @RenderBody()
              <partial name="./PartialView/_Footer" />
    </div>
    <!-- Jquery Js -->
   
@RenderBody()
 
    <script src="~/dependencies/jquery/js/jquery.min.js"></script>
    <!-- Popper Js -->
    <script src="~/dependencies/popper.js/js/popper.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="~/dependencies/bootstrap/js/bootstrap.min.js"></script>
    <!-- Waypoints Js -->
    <script src="~/dependencies/waypoints/js/jquery.waypoints.min.js"></script>
    <!-- Counterup Js -->
    <script src="~/dependencies/jquery.counterup/js/jquery.counterup.min.js"></script>
    <!-- Owl Carousel Js -->
    <script src="~/dependencies/owl.carousel/js/owl.carousel.min.js"></script>
    <!-- ImagesLoaded Js -->
    <script src="~/dependencies/imagesloaded/js/imagesloaded.pkgd.min.js"></script>
    <!-- Isotope Js -->
    <script src="~/dependencies/isotope-layout/js/isotope.pkgd.min.js"></script>
    <!-- Animated Headline Js -->
    <script src="~/dependencies/jquery-animated-headlines/js/jquery.animatedheadline.min.js"></script>
    <!-- Magnific Popup Js -->
    <script src="~/dependencies/magnific-popup/js/jquery.magnific-popup.min.js"></script>
    <!-- ElevateZoom Js -->
    <script src="~/dependencies/elevatezoom/js/jquery.elevateZoom-2.2.3.min.js"></script>
    <!-- Bootstrap Validate Js -->
    <script src="~/dependencies/bootstrap-validator/js/validator.min.js"></script>
    <!-- Meanmenu Js -->
    <script src="~/dependencies/meanmenu/js/jquery.meanmenu.min.js"></script>
    <!-- Google Map js -->
    <!-- Site Scripts -->
    <script src="~/assets/js/app.js")></script>
    <script src="~/assets/plugins/kamadatepicker/kamadatepicker.min.js"></script>
    <script src="~/assets/js/pages/calendar-kama.js"></script>
    <script src="~/assets/plugins/clockpicker/dist/bootstrap-clockpicker.min.js"></script>
    <script src="~/assets/js/pages/clock.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

            <script>
        $(document).ready(function(){
            $('#inputSearch').keyup(function(){
                $('#keyword').val($('#inputSearch').val());
            });
        });
        </script>

 <script src="_framework/blazor.server.js"></script>
@*@await RenderSectionAsync("Scripts", required: false)
*@@RenderSectionAsync("masterjs", required: false)
</body>

</html>



